DB_HOST=localhost
DB_NAME=moodle
DB_USER=moodleuser
DB_PASSWORD=
DB_PORT=5432
MOODLE_URL=http://localhost:8081
MOODLE_ROOT="C:/path/to/your/project/e-LMS/moodle"
MOODLEDATA="C:/path/to/your/moodledata"
